<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCGTracker.Core.Properties.Settings.TCGTrackerDBConnectionString"
            connectionString="Data Source=KIRLEE\SQLEXPRESS;Initial Catalog=TCGTrackerDB;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TCGTracker.Core.Properties.Settings.TCGTrackerDBConnectionString1"
            connectionString="Data Source=K\SQLEXPRESS;Initial Catalog=TCGTrackerDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>